<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- Latest compiled and minified CSS -->
    {% include 'header.html.twig' %}
</head>
<body class="nav-md">
    <div class="container body">
      <div class="main_container">
{% include 'sidebar.html.twig' %}
{% include 'nav_bar.html.twig' %}

<div class="right_col" role="main" style="min-height: 1862px;">
<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Articles:</h2>
        
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
{% block body %}{% endblock %}
      </div>
    </div>
  </div>
</div> 
</div> 

{% block javascripts %}{% endblock %}

{% include 'footer.html.twig' %}
</body>

</html>